@import 'tailwindcss/base';
@import './fonts.css';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
  * a {
    width: 13px;
    color:aqua;
  text-decoration: none;
}
}
